.card {
  font-size: 18px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 350px;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  height: 35px;
  border-style: none;
}
.input:hover,
.input:focus {
  box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
