.form {
  font-size: 18px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 350px;
  margin-bottom: 30px;
  border: grey solid 1px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 3px 15px 3px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 3px 15px 3px rgba(0, 0, 0, 0);
}
.input {
  width: 100%;
  height: 35px;
  border-style: none;
}
.input:hover,
.input:focus {
  box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.button {
  font-size: 18px;
  font-weight: 400;

  border-radius: 16px;
  color: white;
  background-color: #1f4266;
  height: 35px;
  border-style: none;
  box-shadow: 0px 10px 13px -7px #000000, 5px 3px 15px 3px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 3px 15px 3px rgba(0, 0, 0, 0);
}
button:focus {
  box-shadow: none;
}
button:active {
  box-shadow: none;
}
