.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: black;
  font-size: 18;
  font-weight: 700;

  text-transform: uppercase;

  transition-property: color, background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: var(--animation-cubicBezier);

  transform: scale(0.9);
}
.span {
  display: flex;
  gap: 15px;
}
.active {
  composes: link;
  color: #3f5efb;
  text-decoration: underline;

  padding: 6px 12px;
  border-radius: 4px;

  transform: scale(1);
  pointer-events: none;
}

.link:hover,
.link:focus {
  color: #3f5efb;
  text-decoration: underline;
}
