.wrapper {
  background-image: url("../../assets/phonebook.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Georgia, serif;
  font-size: 27px;
  letter-spacing: 2px;
  word-spacing: -1.6px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 8px;
}
